.App {
  text-align: center;
  background-image: url(pexels-photo-853168.jpeg);
  background-size: cover;
}

html{
  background-color: black;
}

._welcome {
  all: unset;
  background-color: linear-gradient( #54D2EB, black) ;
  color:white;
}

.Table {
  display:grid;
  font-size: calc(1vw + 1vh + .5vmin);
  color: white;
  justify-content: center;
  margin-bottom: 10vh;
  padding-bottom: 15vh; 
  background-image: linear-gradient( rgb(0,0,0,0),rgb(0,0,0,1));
  /* border-style: solid;
  border-radius: 15px;
  border-color: red;
  margin-block-end: auto; */
  
}

.title {
  padding-top: 5vh;
  font-size: calc(2vw + 2vh + .5vmin);
  width: 100%;
  color: white;
  text-align: center;
  } 

.map{
  padding: 2vh;
}

.mapbox {
  display: inline-block;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 1vh;
}

.NavBar {
  font-size: calc(1vw + 1vh + .5vmin);
  justify-content: center;
}
.navBarCards {
  display: grid;
  grid-template-columns: auto auto auto auto;  
  justify-content: center;
}
.column {
  font-size: calc(1vw + 1vh + .5vmin);
  margin: 1vh;
  background-image: linear-gradient( rgba(255, 255, 255, 0),rgba(15, 130, 197, 0.25));
  padding:1vh;
  border-style: solid;
  border-radius: 15px;
  border-color: black;
}

.footer {
  position: fixed;
  z-index: 1;
  float: bottom;
  left: 0;
  bottom: 0;
  padding-bottom: 2vh;
  padding-top: 2vh;
  width: 100%;
  background-image: linear-gradient( rgb(0,0,0,0),rgb(0,0,0,1));
  color: white;
  text-align: center;
}

.tooltip {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 12vw;
  font-size: calc(.75vw + .75vh + .25vmin);;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
