.App {
  text-align: center;
  background-image: url(pexels-photo-853168.jpeg);
}

html{
  background-color: black;
}

._welcome {
  all: unset;
  background-color: linear-gradient( #54D2EB, black) ;
  color:white;
}

.Table {
  text-align: center;
  font-size: calc(1vw + 1vh + .5vmin);
  color: white;
}

.title {
  padding-top: 5vh;
  font-size: calc(2vw + 2vh + .5vmin);
  width: 100%;
  color: white;
  text-align: center;
  } 

.map{
  padding: 2vh;
}

.mapbox {
  display: inline-block;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 20vh;
}

.NavBar {
  font-size: calc(1vw + 1vh + .5vmin);
}

.footer {
  position: fixed;
  z-index: 1;
  float: bottom;
  left: 0;
  bottom: 0;
  padding-bottom: 2vh;
  width: 100%;
  background-image: linear-gradient( rgb(0,0,0,0),rgb(0,0,0,1));
  color: white;
  text-align: center;
}
